<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学生导师双选系统</title>
    <base th:href="@{/}" href="/TwoWaySelectSystem/"/><!--base标签，设置基准访问路径,如果某个路径要基于base编写，那么就不可以用斜杠开头-->
    <!--使用绝对路径-->
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/plugins/elementui/index.css">
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css">
    <script src="static/js/vue.js"></script>
    <script src="static/plugins/elementui/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <el-main>
        <div id="messageboard">
            <el-container>
                <el-aside>
                    <el-menu
                            default-active="2"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose">
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-menu"></i>
                                <span>所有好友</span>
                            </template>
                            <!--                    循环数据库里所有人名-->
                            <div>
                                <el-menu-item :index="names" >莎士比亚</el-menu-item>
                            </div>
                            <div v-for="student in students" @click="getReceiverId(student.id,student.studentName)">
                                <el-menu-item :index="names">{{student.studentName}}</el-menu-item>
                            </div>
                        </el-submenu>

                    </el-menu>
                </el-aside>


                <el-main>
                    <el-form ref="form" label-width="50px">
                        <el-form-item label="内容">
                            <el-input v-model="content" placeholder="请输入内容"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="add()">发送</el-button>
                            <el-button @click="clearReceiver()"><strong>接收人：{{receiverName}}</strong></el-button>
                        </el-form-item>

                        <el-table border :data="mydata">
                            <!--                            <el-table-column label="留言条数" inline-template :context="_self">-->
                            <!--                                <span>{{$index + 1}}</span>-->
                            <!--                            </el-table-column>-->
                            <!--                            <el-table-column prop="time" label="时间">-->
                            <!--                            </el-table-column>-->
                            <!--                            <el-table-column prop="content" label="内容">-->
                            <!--                            </el-table-column>-->
                            <!--                            <el-table-column label="操作" inline-template :context="_self">-->
                            <!--                                <span><el-button size="small" @click="showDialog()">删除</el-button></span>-->
                            <!--                            </el-table-column>-->
                            <!--                        </el-table>-->
<!--                            <el-table-column prop="time" sortable label="时间" :show-overflow-tooltip="true">-->
<!--                            </el-table-column>-->
<!--                            <el-table-column prop="senderName" label="发送人" :show-overflow-tooltip="true">-->
<!--                            </el-table-column>-->
<!--                            <el-table-column prop="receiverName" label="接收人" :show-overflow-tooltip="true">-->
<!--                            </el-table-column>-->
<!--                            <el-table-column prop="text" label="内容" :show-overflow-tooltip="true">-->
<!--                            </el-table-column>-->
<!--                            <el-table-column label="操作" inline-template>-->
<!--                                &lt;!&ndash;                                <span><el-button size="small" @click="showDialog()">删除</el-button></span>&ndash;&gt;-->
<!--                                <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>-->
<!--                            </el-table-column>-->
                            <el-table-column prop="time" sortable label="时间" :show-overflow-tooltip="true">
                            </el-table-column>
                            <el-table-column prop="senderName" sortable label="发送人" :show-overflow-tooltip="true">
                            </el-table-column>
                            <el-table-column prop="receiverName" sortable label="接收人" :show-overflow-tooltip="true">
                            </el-table-column>
                            <el-table-column prop="text" label="内容" :show-overflow-tooltip="true">
                            </el-table-column>
                        </el-table>


                        <!--                        <div style="text-align:right" v-show="mydata.length>0">-->
                        <!--                            <el-button size="small" @click="showDelallDialog()">全部删除</el-button>-->
                        <!--                        </div>-->
                    </el-form>

                    <!--                    <el-dialog title="提示" v-model="dialogVisible" size="tiny">-->
                    <!--                        <span v-if="nowIndex==-2">删除全部条留言</span>-->
                    <!--                        <span v-else>删除此条留言</span>-->
                    <!--                        <span slot="footer" class="dialog-footer">-->
                    <!--          <el-button @click="dialogVisible = false">取 消</el-button>-->
                    <!--          <el-button type="primary" @click="del(nowIndex)">确 定</el-button>-->
                    <!--        </span>-->
                    <!--                    </el-dialog>-->
                </el-main>


            </el-container>
        </div>
    </el-main>
</div>
</body>
<script>
    new Vue({
        el: '#messageboard',
        data: function () {
            return {
                title: '',
                content: '',
                mydata: [],
                dialogVisible: false,
                nowIndex: -100,
                students: [],
                index: 0,
                messages: [],
                receiverId: "",
                receiverName: "未选择"
            }
        },
        methods: {
            getReceiverId(id, name) {
                this.receiverId = id;
                this.receiverName = name;
            },
            clearReceiver() {
                this.receiverId = "";
                this.receiverName = "未选择";
            }
            ,
            add() {
                var _this = this;
                if (this.content === '') {
                    this.$message.error('请填写内容');
                } else if (this.receiverName === "未选择") {
                    this.$message.error('请选择接收人');
                } else {
                    axios.post("protected/tutor?method=sendMessageToStudent", {
                        "receiverId": _this.receiverId,
                        "text": _this.content
                    }).then(resp => {
                        if (resp.data.flag) {
                            window.location.href = "protected/tutor?method=toMessage";
                            this.$message.success(resp.data.message)
                        } else {
                            this.$message.error(resp.data.message)
                        }
                    });
                    // if (this.content == '') {
                    //     this.$message.error('请填写内容');
                    // } else {
                    //     this.mydata.push({
                    //         // 这里去数据库调 CURRENT_TIMESTAMP
                    //         // time:this.,
                    //         content: this.content,
                    //     });
                    //     this.time = '';
                    //     this.content = '';
                }
            },
            showDialog() {
                this.dialogVisible = true;
            },
            showDelallDialog() {
                this.dialogVisible = true;
                this.nowIndex = -2;
            },
            del(n) {
                if (n == -2) {
                    this.mydata = [];
                } else {
                    this.mydata.splice(n, 1);
                }
                this.nowIndex = -100;
                this.dialogVisible = false;
            },
            handleReset() {
                this.time = '';
                this.content = '';
            }
        },
        // created() {
        //     axios.get("protected/tutor?method=getMyStudents").then(resp => {
        //         if (resp.data.flag) {
        //             this.students = resp.data.data
        //             this.$message.success(resp.data.message)
        //         } else {
        //             this.$message.error(resp.data.message)
        //         }
        //     })
        // },
        mounted() {
            var _this = this;

            function getTutor() {
                return axios.get("protected/tutor?method=getMyStudents");
            }

            function getMessages() {
                return axios.get("protected/tutor?method=getMessageList");
            }

            axios.all([getTutor(), getMessages()])
                .then(axios.spread((tutorResp, messageResp) => {
                    if (tutorResp.data.flag) {
                        _this.students = tutorResp.data.data
                        _this.$message.success(tutorResp.data.message)
                        _this.mydata = messageResp.data.data
                    } else {
                        _this.$message.error(tutorResp.data.message)
                    }
                }));

        }
    })
</script>

<style>

</style>
</html>
