<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学生导师双选系统</title>
    <base th:href="@{/}" href="/TwoWaySelectSystem/"/><!--base标签，设置基准访问路径,如果某个路径要基于base编写，那么就不可以用斜杠开头-->
    <!--使用绝对路径-->
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/plugins/elementui/index.css">
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css">
    <script src="static/js/vue.js"></script>
    <script src="static/plugins/elementui/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: 700px; border: 1px solid #eee">
        <el-main>
            <template>
                <el-transfer
                        v-model="chosen"
                        :data="students"
                        :props="{
                                key:'id',
                                label:'studentName'
                                        }"
                        :titles="['待选学生', '已选学生']"
                        target-order="push"
                        @change="check(right)"
                >
                </el-transfer>
                <el-button @click="submit()">确认本轮选择</el-button>
            </template>
        </el-main>
    </el-container>
</div>
</body>
<script>
    var vue = new Vue({
            el: '#app',
            data: {
                "tutor": {}, //自己的信息
                "students": [],//获取可以选择的学生
                "chosen": [] //选择的学生的id
            },
            methods: {
                submit() {
                    this.$confirm('确定提交吗？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.doSubmit()
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消提交'
                        });
                    });
                }
                ,
                doSubmit() {
                    axios.post("protected/tutor?method=takeStudents", {
                        "chosenIds": this.chosen,
                        "round": 3
                    }).then(resp => {
                        if (resp.data.flag) {
                            this.$alert(resp.data.message, '信息', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    this.sendAsA('protected/tutor?method=toWelcome', '_self')
                                }
                            });
                        } else {
                            this.$message.error(resp.data.message)
                        }
                    })
                },
                check() {
                    if (this.chosen.length > this.tutor.left) {
                        this.$message.error("最多选择" + this.tutor.left + "个学生!")
                        this.chosen.pop();
                    } else {
                        this.$message.success("选择成功！")
                    }
                },
                sendAsA(linkUrl, target) {
                    var a = document.createElement('a')
                    a.setAttribute('href', linkUrl)
                    a.setAttribute('target', target)
                    //防止反复添加
                    if (document.getElementById('js_a')) {
                        document.body.removeChild(document.getElementById('js_a'))
                    }
                    document.body.appendChild(a);
                    a.click();
                }
            },
            created() {
                //首先获得导师自己的剩余名额,若大于0则再获取可以选择的学生
                //不必获得剩余名额，是否符合应该给后端判断
                axios({
                    "method": "get",
                    "async": false,
                    "url": "protected/tutor",
                    "params": {
                        "method": "getAvailableStudents",
                        "round": 3
                    }
                }).then(async resp => {
                    if (resp.data.flag) {
                        this.students = resp.data.data //拿的是student对象集合
                        //请求记录
                        await axios({
                            "method": "get",
                            "async": false,
                            "url": "protected/tutor",
                            "params": {
                                "method": "getPreviousTaken",
                                "round": 3
                            }
                        }).then(async resp => {
                            if (resp.data.flag) {
                                this.chosen = resp.data.data  //拿的是studentId的int集合
                            } else {
                                this.$message.error(resp.data.message)
                            }
                        })
                    } else {
                        this.$message.error(resp.data.message)
                    }
                })

            }
        }
    )
</script>
<style>
    .el-transfer-panel {
        width: 400px;
        height: 500px;
    }

    .el-transfer-panel__list.is-filterable {
        height: 400px;
    }
</style>
</html>
