<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学生导师双选系统</title>
    <base th:href="@{/}" href="/TwoWaySelectSystem/"/><!--base标签，设置基准访问路径,如果某个路径要基于base编写，那么就不可以用斜杠开头-->
    <!--使用绝对路径-->
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/plugins/elementui/index.css">
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css">
    <script src="static/js/vue.js"></script>
    <script src="static/plugins/elementui/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <el-main>
        <el-card>
            <el-table
                    :data="tableDate"
                    style="width: 100%">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <div>
                                <el-form-item label="导师">
                                    <strong>{{ props.row.result.tutors[0].name }}</strong>
                                </el-form-item>
                            </div>
                            <div>
                                <el-form-item v-for="(s,index) in props.row.result.tutors[0].students"
                                              :label="'学生'+`${index+1}`">
                                    <div>姓名：{{ s.studentName }}</div>

                                    <div>学号：{{s.studentNumber}}</div>
                                </el-form-item>
                            </div>
                        </el-form>
                    </template>
                </el-table-column>


                <el-table-column
                        label="序号"
                        sortable
                        prop="id">
                </el-table-column>
                <el-table-column
                        label="发起人"
                        sortable
                        prop="eventInfo.initiator">
                </el-table-column>
                <el-table-column
                        label="结束时间"
                        sortable
                        prop="endTime">
                </el-table-column>
                <el-table-column
                        label="描述"
                        prop="eventInfo.description">
                </el-table-column>


            </el-table>
        </el-card>
    </el-main>
</div>
</body>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            "events": [],
            "chosenEvent": {},
            result: "",
            eventId: "",
            i: "11",
            tableDate: [],
            tutor: [
                {
                    name: 'zzz',
                    students: [
                        {
                            studentName: 'z1'
                        },
                        {
                            studentName: 'z2'
                        }
                    ]
                }
            ],
        },
        methods: {
            backToShowResults() {
                window.location.href = "protected/student?method=toResult";
            }
        },
        created() {
            var _this = this;
            axios.post("protected/event?method=getFullEventsByStudent").then(resp => {
                if (resp.data.flag) {
                    this.$message.success(resp.data.message)
                    this.tableDate = resp.data.data
                    console.log(this.tableDate)
                } else {
                    this.$message({
                        message: resp.data.message,
                        type: "error"
                    })
                }
            })
        }

    })
</script>

<style>
    .demo-table-expand {
        font-size: 0;
    }

    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }


</style>

</html>
