<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>学生导师双选系统</title>
    <base th:href="@{/}" href="/TwoWaySelectSystem/"/><!--base标签，设置基准访问路径,如果某个路径要基于base编写，那么就不可以用斜杠开头-->
    <!--
      使用绝对路径
    -->
    <!--<link rel="stylesheet" href="static/css/minireset.css"/>
    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/css/iconfont.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/swiper.min.css"/>-->
    <!--引入layer-->
    <script type="text/javascript" src="static/script/jquery.js"></script>

    <script src="static/script/vue.js"></script>
    <script src="static/script/axios.js"></script>
    <script src="static/script/swiper.min.js"></script>
    <script type="text/javascript" src="static/layer/layer.js"></script>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <el-container style="height: 700px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu @open="getTutors()">
                <el-submenu index="1" @click="getTutors()">
                    <template slot="title"><i class="el-icon-message"></i>学院教师信息
                    </template>
                    <el-menu-item-group :data="tutors" v-for="tutor in tutors">
                        <el-menu-item>{{tutor.name}}</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>学生功能</template>
                    <el-menu-item-group>
                        <template slot="title">选择导师</template>
                        <el-menu-item index="2-1">志愿填写</el-menu-item>
                        <el-menu-item index="2-2">查看结果</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                        <el-menu-item index="2-3">私信</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="2-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="2-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-setting"></i>个人中心</template>
                    <el-menu-item-group>
                        <template slot="title">分组一</template>
                        <el-menu-item index="3-1">修改个人信息</el-menu-item>
                        <el-menu-item index="3-2">选项2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="分组2">
                        <el-menu-item index="3-3">选项3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="3-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="3-4-1">选项4-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>查看</el-dropdown-item>
                        <el-dropdown-item>新增</el-dropdown-item>
                        <el-dropdown-item>删除</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>教科学院</span>
            </el-header>

            <el-main>
                <el-table
                        :data="tableData"
                        style="width: 100%"
                        :default-sort="{prop: 'date', order: 'descending'}"
                >
                    <el-table-column
                            prop="date"
                            label="日期"
                            sortable
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="姓名"
                            sortable
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="地址"
                            :formatter="formatter">
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>
<script>
    // var Main = {
    //     methods: {
    //         handleClick(row) {
    //             console.log(row);
    //         }
    //     },
    //
    //     data() {
    //         return {
    //             tableData: [{
    //                 date: '2016-05-02',
    //                 name: '王小虎',
    //                 province: '上海',
    //                 city: '普陀区',
    //                 address: '上海市普陀区金沙江路 1518 弄',
    //                 zip: 200333
    //             }, {
    //                 date: '2016-05-04',
    //                 name: '王小虎',
    //                 province: '上海',
    //                 city: '普陀区',
    //                 address: '上海市普陀区金沙江路 1517 弄',
    //                 zip: 200333
    //             }, {
    //                 date: '2016-05-01',
    //                 name: '王小虎',
    //                 province: '上海',
    //                 city: '普陀区',
    //                 address: '上海市普陀区金沙江路 1519 弄',
    //                 zip: 200333
    //             }, {
    //                 date: '2016-05-03',
    //                 name: '王小虎',
    //                 province: '上海',
    //                 city: '普陀区',
    //                 address: '上海市普陀区金沙江路 1516 弄',
    //                 zip: 200333
    //             }]
    //         }
    //     }
    // }
    // var Ctor = Vue.extend(Main)
    // new Ctor().$mount('#app')
    var vue = new Vue({
        el: '#app',
        data: {
            "tutors": []
        },
        methods: {
            getTutors() {
                axios.get("tutor?method=getTutors").then(resp => {
                    if (resp.data.flag) {
                        this.tutors = resp.data.data
                    } else {
                        this.$message({
                            message: resp.data.message,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>

</html>
