<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生导师双选系统</title>
    <base th:href="@{/}" href="/TwoWaySelectSystem/"/><!--base标签，设置基准访问路径,如果某个路径要基于base编写，那么就不可以用斜杠开头-->
    <!--使用绝对路径-->
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/plugins/elementui/index.css">
    <link rel="stylesheet" href="static/plugins/font-awesome/css/font-awesome.min.css">
    <script src="static/js/vue.js"></script>
    <script src="static/plugins/elementui/index.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <img class="logo_img" alt="" src="static/imgs/zhaohui1.jpg"/>
    <el-row type="flex" justify="center">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

            <el-form-item label="姓名" prop="name">
                <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="账号" prop="number">
                <el-input v-model.number="ruleForm.number"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="pass">
                <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
                <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="请输入验证码">
                <el-input v-model="ruleForm.code" autocomplete="off" prop="checkCode"></el-input>
                <img :src="checkCodePath" width="126px" height="35px" alt="" @click="changeCode"/>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitFormAsTutor()">以教师注册</el-button>
                <el-button type="primary" @click="submitFormAsStu()">以学生注册</el-button>
                <!--            跳转到登陆页面-->
                <el-button @click="resetForm('ruleForm')">登陆</el-button>
            </el-form-item>

        </el-form>
    </el-row>
</div>
<script>
      var Main = {
          data() {
              var checkName = (rule, value, callback) => {
                  if (!value) {
                      return callback(new Error('姓名不能为空'));
                  }
              };
              var checkNumber = (rule, value, callback) => {
                  if (!value) {
                      return callback(new Error('学号不能为空'));
                  }
                  setTimeout(() => {
                      if (!Number.isInteger(value)) {
                          callback(new Error('请输入数字值'));
                      } else {
                          callback();
                      }
                  }, 1000);
              };
              var validatePass = (rule, value, callback) => {
                  if (value === '') {
                      callback(new Error('请输入密码'));
                  } else {
                      if (this.ruleForm.checkPass !== '') {
                          this.$refs.ruleForm.validateField('checkPass');
                      }
                      callback();
                  }
              };
              var validatePass2 = (rule, value, callback) => {
                  if (value === '') {
                      callback(new Error('请再次输入密码'));
                  } else if (value !== this.ruleForm.pass) {
                      callback(new Error('两次输入密码不一致!'));
                  } else {
                      callback();
                  }
              };
              var checkCode = (rule, value, callback) => {
                  if (!value) {
                      return callback(new Error('验证码不能为空'));
                  }
              };
              return {
                  ruleForm: {
                      name: '',
                      pass: '',
                      checkPass: '',
                      number: '',
                      code: ''
                  },
                  rules: {
                      name: [
                          {validator: checkName, trigger: 'blur'}
                      ],
                      pass: [
                          {validator: validatePass, trigger: 'blur'}
                      ],
                      checkPass: [
                          {validator: validatePass2, trigger: 'blur'}
                      ],
                      number: [
                          {validator: checkNumber, trigger: 'blur'}
                      ],
                      code: [
                          {validator: checkCode, trigger: 'blur'}
                      ]
                  },
                  checkCodePath: "kaptcha"
              };
          },
          methods: {
              submitFormAsTutor() {
                  axios.post("entrance?method=doTutorRegister", {
                      "name": this.ruleForm.name,
                      "number": this.ruleForm.number,
                      "password": this.ruleForm.pass,
                      "code": this.ruleForm.code
                  }).then(resp => {
                      if (resp.data.flag) {
                          window.location.href = "protected/student?method=toMain"
                      } else {
                          this.$message.error(resp.data.message)
                      }
                  })
              },
              submitFormAsStu() {
                  axios.post("entrance?method=doStudentRegister", {
                      "studentName": this.ruleForm.name,
                      "studentNumber": this.ruleForm.number,
                      "password": this.ruleForm.pass,
                      "code": this.ruleForm.code
                  }).then(resp => {
                      if (resp.data.flag) {
                          window.location.href = "protected/student?method=toMain"
                      } else {
                          this.$message.error(resp.data.message)
                      }
                  })
              },
              changeCode() {
                  this.checkCodePath = "kaptcha?time=" + new Date();
              }
          }
      }
      var Ctor = Vue.extend(Main)
      new Ctor().$mount('#app')
    /*var vue = new Vue({
        el: "#app",
        data: {
            ruleForm: {
                name: '',
                pass: '',
                checkPass: '',
                number: '',
                code: ''
            },
            rules: {
                name: [
                    {validator: checkName, trigger: 'blur'}
                ],
                pass: [
                    {validator: validatePass, trigger: 'blur'}
                ],
                checkPass: [
                    {validator: validatePass2, trigger: 'blur'}
                ],
                number: [
                    {validator: checkNumber, trigger: 'blur'}
                ],
                code: [
                    {validator: checkCode, trigger: 'blur'}
                ]
            },
            checkCodePath: "kaptcha",
            var: checkName = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('姓名不能为空'));
                }
            },
            var: checkNumber = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('学号不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        callback();
                    }
                }, 1000);
            },
            var: validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            },
            var: validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            },
            var: checkCode = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('验证码不能为空'));
                }
            }
        },
        methods: {
            submitFormAsTutor() {
                axios.post("entrance?method=doTutorRegister", {
                    "name": this.ruleForm.name,
                    "number": this.ruleForm.number,
                    "password": this.ruleForm.pass,
                    "code": this.ruleForm.code
                }).then(resp => {
                    if (resp.data.flag) {
                        window.location.href = "protected/student?method=toMain"
                    } else {
                        this.$message.error(resp.data.message)
                    }
                })
            },
            submitFormAsStu() {
                axios.post("entrance?method=doStudentRegister", {
                    "studentName": this.ruleForm.name,
                    "studentNumber": this.ruleForm.number,
                    "password": this.ruleForm.pass,
                    "code": this.ruleForm.code
                }).then(resp => {
                    if (resp.data.flag) {
                        window.location.href = "protected/student?method=toMain"
                    } else {
                        this.$message.error(resp.data.message)
                    }
                })
            },
            changeCode() {
                this.checkCodePath = "kaptcha?time=" + new Date();
            }
        }
    })*/
</script>
<style>

    .logo_img {
        /*设置背景图片自适应全屏*/
        position: fixed;

        top: 0;

        left: 0;

        width: 100%;

        height: 100%;

        min-width: 1000px;

        z-index: -10;

        zoom: 1;

        background-color: #fff;

        /*background: url("static/pictures/libarary.jpg");*/

        background-repeat: no-repeat;

        background-size: cover;

        -webkit-background-size: cover;

        -o-background-size: cover;

        background-position: center 0;

    }

</style>
<style lang="less" scoped>

    .el-form {

        width: 500px;

        border: 1px solid #000;

        padding: 40px;

        margin: 0 auto;

        margin-top: 340px;

        padding-left: 20px;

        padding-bottom: 20px;

        border-radius: 10px;

        background: #f0f0f0;
        /*自适应*/
        top: 50%;
        position: absolute;
        transform: translateY(-50%); /* 使用css3的transform来实现 */
    }
</style>
</body>
</html>
